body{
	width: 100%;
	height: 500px;
	overflow: hidden;
	background: #57d6d6;
background: -moz-linear-gradient(left,  #57d6d6 12%, #3395e0 37%, #88f7ef 61%, #9a94dd 86%, #c970ae 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(12%,#57d6d6), color-stop(37%,#3395e0), color-stop(61%,#88f7ef), color-stop(86%,#9a94dd), color-stop(100%,#c970ae));
background: -webkit-linear-gradient(left,  #57d6d6 12%,#3395e0 37%,#88f7ef 61%,#9a94dd 86%,#c970ae 100%);
background: -o-linear-gradient(left,  #57d6d6 12%,#3395e0 37%,#88f7ef 61%,#9a94dd 86%,#c970ae 100%);
background: -ms-linear-gradient(left,  #57d6d6 12%,#3395e0 37%,#88f7ef 61%,#9a94dd 86%,#c970ae 100%);
background: linear-gradient(to right,  #57d6d6 12%,#3395e0 37%,#88f7ef 61%,#9a94dd 86%,#c970ae 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#57d6d6', endColorstr='#c970ae',GradientType=1 );
}
